

<!-- moved form_tag meetings_path, :method => 'get' do %> into application.html.erb -->

<!-- <#%#= link_to 'new meeting', new_meeting_path(@meeting) %> -->

<h1>Meeting</h1>

<%= render :partial => 'meetings/meeting', :collection => @meetings %>

<%= will_paginate @meetings %>
