<div id="participants">
  <p>
    <b>Name:</b>
    <%=h comment.name %> <br />
    <b>Email:</b>
    <%=h comment.email %> <br />
    <b>Subject:</b>
    <%=h comment.subject %> <br />
    <b>Body:</b>
    <%=h comment.body %>
  </p>
</div>

<br />
