<% div_for(participant) do %>
<h3>participant</h3>

  <div>
    <b>name:</b>
    <%=h participant.name %>
  </div>

  <div>
    <b>collection_of_unavailable_days:</b>
    <%=h participant.collection_of_unavailable_days %>
  </div>

<% end %>

