
<%= form_remote_tag :update => @snuff.id, 
	:url => {:action => 'update', :id => @snuff},
	:loading => "new Effect.Fade(#{@snuff.id})",
	:complete => "new Effect.Appear(#{@snuff.id})" %>

  <%= render :partial => 'form' %>
	<div class="ctlSave"><%= submit_tag 'save'%></div>
	<%= link_to_remote 'Cancel',
		:update=>@snuff.id,
		:url => {:action => 'show', :id => @snuff},
		:loading => "new Effect.Fade(#{@snuff.id})",
		:complete => "new Effect.Appear(#{@snuff.id})" %>
<%= end_form_tag %>
