<%= error_messages_for 'snuff' %>

<!--[form:snuff]-->
<div class="foo"><%= text_field 'snuff', 'foo' , {:size=>10} %></div>
<div class="bar"><%= text_area 'snuff', 'bar' , {:size=>10} %></div><!--[eoform:snuff]-->

