


<div id="right-column"> 
  <ol>
    <li>  
      Copyright (c) <%=Time.now.strftime("%Y") %>
 world wide web week day meet up (w4daymeetup). All rights reserved.  Design by Charles Magid.
    </li>

    <li>
      <p>"Rails", "Ruby on Rails", and the Rails logo are registered trademarks of David Heinemeier Hansson. All rights reserved.    Rails is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>. Ruby under the <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby License</a>.</p>
    </li>
    <li>
      <p>Graphics Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </li>
    

    <li>  <a href="http://gitrdoc.com/mislav/will_paginate/tree/master/">mislav / will_paginate </a>Copyright © 2007 PJ Hyett and Mislav Marohnić 
    </li>

  </ol>
</div>
